<div class="aboutUs-wrapper" [ngClass]="{ 'my-light-theme':themeDark==false, 'my-dark-theme':themeDark}" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title> <mat-icon>people</mat-icon> About Us</mat-card-title>
    </mat-card-header>

      <mat-card-content>
        <h3>🎉 Welcome to my app 🎉</h3>
        <p>Hi, I am DyLaN 🙃 . I was developed this app in 3 months for my final grade project.</p>
        <p>There are things that can be improved I am so happy with the result!</p>
        <h4>Contact me in ...</h4>
        <p>
          <a href="mailto:dylanhurtado43@gmail.com" target="_blank">
            <img loading="lazy" src="https://raw.githubusercontent.com/DyLaNHurtado/DyLaNHurtado/master/images/gmail.png" height="100" alt="gmail"/>
          </a>&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/dylan-hurtado-a88535225/" target="_blank">
            <img loading="lazy" src="https://raw.githubusercontent.com/DyLaNHurtado/DyLaNHurtado/master/images/linkedIn.png" height="100"/>
          </a>&nbsp;&nbsp;
          <a href="https://twitter.com/DyLaNHurtado_" target="_blank">
            <img loading="lazy" src="https://raw.githubusercontent.com/DyLaNHurtado/DyLaNHurtado/master/images/twitter.png" height="100"/>
          </a> 
        </p>
        <h4>Check my other projects on...</h4>
        <p>
          <a href="https://github.com/DyLaNHurtado" target="_blank">
            <img loading="lazy" src="https://camo.githubusercontent.com/a57c02ec4694ccf6673a50dd66afde6ca08c8fa4ff4717cbafb6df352fd7878e/68747470733a2f2f64697374726561752e636f6d2f6769746875622e737667" height="75" alt="github"/>
          </a>
        </p>
      </mat-card-content>
  </mat-card>
</div>
