.settings-wrapper{
    min-height: 100%;
}
.mat-card-header .mat-card-title{
    font-size: 32px;
    margin: 0;
    margin-bottom: 4vh;
    font-weight: bold;
    margin-top: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
mat-card{
    min-width: 20vw;
        padding: 2em 4em;
        opacity: 0.90;
}
mat-card-content{
    padding: 0;
}
mat-tab-group{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.clear-icon{
    font-size: xx-large;
    height: 8vw;
    width: 8vw;
}
img{
    height: 8vw;
    width: 8vw;
    object-fit: cover;
    align-items: center;
    
}
.img-option {
    padding: 1em;
    margin: 0.2em;
    border-radius: 10px;
    border:0;
    
}
.options-container{
    padding: 10px;
    border-radius: 10px;
}
mat-button-toggle-group{
    border: 0;
}
mat-button-toggle{
    padding:0
}
.color{
    padding: 1em 1em;
    border-radius: 50%;
}
.theme{
    font-size: 3em;
    padding: 2em;
}
a{
    text-decoration:none
}
h1{
    text-align: center;
    margin-bottom: 2em ;
}
.color-button{
    padding: 1vw 0;
}
.colors{
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {border:0;}