<div
  class="settings-wrapper"
  [ngClass]="{
    'my-light-theme': themeDark == false,
    'my-dark-theme': themeDark
  }"
  fxLayoutAlign="center center"
>
  <mat-card class="box">
    <div>
      <button mat-icon-button (click)="openSnackBar()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>⚙️</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group mat-align-tabs="center" color="accent">
        <mat-tab label="🎨 Theme">
          <h1>🎨 Theme</h1>
          <mat-button-toggle-group gru name="themeApp" aria-label="Theme App">
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
              <mat-button-toggle
                class="img-option"
                value="background1"
                (click)="onSetLightTheme()"
                ><div class="theme" style="background-color: #f3efea">
                  ☀️
                </div></mat-button-toggle
              >
              <mat-button-toggle
                class="img-option"
                value="background1"
                (click)="onSetDarkTheme()"
                ><div class="theme" style="background-color: #4e5255">
                  🌙
                </div></mat-button-toggle
              >
            </div>
          </mat-button-toggle-group>
        </mat-tab>
        <mat-tab label="🌠 Background">
          <h1>🌠 Background</h1>
          <div fxLayout="column" class="options-container" fxFlex="100">
            <mat-button-toggle-group
              gru
              name="fontStyle"
              aria-label="Font Style"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="center center"
                class="colors"
                fxFlex="100"
              >
                <mat-button-toggle
                  class="img-option color-button"
                  value="color_white"
                  (click)="onSetBgColor('background-color: #f3efea;')"
                >
                  <div class="color" style="background-color: #f3efea"></div
                ></mat-button-toggle>
                <mat-button-toggle
                  class="img-option color-button"
                  value="color_black"
                  (click)="onSetBgColor('background-color: #4e5255;')"
                >
                  <div class="color" style="background-color: #4e5255"></div
                ></mat-button-toggle>
                <mat-button-toggle
                  class="img-option color-button"
                  value="color_pink"
                  (click)="onSetBgColor('background-color: #eeaada;')"
                >
                  <div class="color" style="background-color: #eeaada"></div
                ></mat-button-toggle>
                <mat-button-toggle
                  class="img-option color-button"
                  value="color_blue"
                  (click)="onSetBgColor('background-color: #aacdee;')"
                >
                  <div class="color" style="background-color: #aacdee"></div
                ></mat-button-toggle>
                <mat-button-toggle
                  class="img-option color-button"
                  value="color_orange"
                  (click)="onSetBgColor('background-color: #eebfaa;')"
                >
                  <div class="color" style="background-color: #eebfaa"></div
                ></mat-button-toggle>
                <mat-button-toggle
                  class="img-option color-button"
                  value="color_green"
                  (click)="onSetBgColor('background-color: #d4eeaa;')"
                >
                  <div class="color" style="background-color: #d4eeaa"></div
                ></mat-button-toggle>
                <mat-button-toggle
                  class="img-option color-button"
                  value="color_purple"
                  (click)="onSetBgColor('background-color: #d8aaee;')"
                >
                  <div class="color" style="background-color: #d8aaee"></div
                ></mat-button-toggle>
              </div>
            </mat-button-toggle-group>
            <mat-button-toggle-group
              gru
              name="fontStyle"
              aria-label="Font Style"
            >
              <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                  <mat-button-toggle
                    class="img-option"
                    value="background1"
                    (click)="onSetBackground('')"
                    ><mat-icon class="clear-icon" [style]="getColor()"
                      >no_sim</mat-icon
                    ></mat-button-toggle
                  >
                  <mat-button-toggle
                    class="img-option"
                    value="background1"
                    (click)="
                      onSetBackground(
                        'background-image: url(https://raw.githubusercontent.com/DyLaNHurtado/chat-angular/b814d3e449d34f6efe09a53964e64b7b379f2aa3/src/assets/img/bg-cats.svg)'
                      )
                    "
                    ><img
                      src="https://raw.githubusercontent.com/DyLaNHurtado/chat-angular/b814d3e449d34f6efe09a53964e64b7b379f2aa3/src/assets/img/bg-cats.svg"
                      [style]="getColor()"
                  /></mat-button-toggle>
                  <mat-button-toggle
                    class="img-option"
                    value="background1"
                    (click)="
                      onSetBackground(
                        'background-image: url(https://raw.githubusercontent.com/DyLaNHurtado/chat-angular/b814d3e449d34f6efe09a53964e64b7b379f2aa3/src/assets/img/bg-math.svg)'
                      )
                    "
                    ><img
                      src="https://raw.githubusercontent.com/DyLaNHurtado/chat-angular/b814d3e449d34f6efe09a53964e64b7b379f2aa3/src/assets/img/bg-math.svg"
                      [style]="getColor()"
                  /></mat-button-toggle>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-button-toggle
                    class="img-option"
                    value="background3"
                    (click)="
                      onSetBackground(
                        'background-image: url(https://raw.githubusercontent.com/DyLaNHurtado/chat-angular/b814d3e449d34f6efe09a53964e64b7b379f2aa3/src/assets/img/bg-starwars.svg)'
                      )
                    "
                    ><img
                      src="https://raw.githubusercontent.com/DyLaNHurtado/chat-angular/b814d3e449d34f6efe09a53964e64b7b379f2aa3/src/assets/img/bg-starwars.svg"
                      [style]="getColor()"
                  /></mat-button-toggle>
                  <mat-button-toggle
                    class="img-option"
                    value="background4"
                    (click)="
                      onSetBackground(
                        'background-image: url(https://raw.githubusercontent.com/DyLaNHurtado/chat-angular/b814d3e449d34f6efe09a53964e64b7b379f2aa3/src/assets/img/bg-art.svg)'
                      )
                    "
                    ><img
                      src="https://raw.githubusercontent.com/DyLaNHurtado/chat-angular/b814d3e449d34f6efe09a53964e64b7b379f2aa3/src/assets/img/bg-art.svg"
                      [style]="getColor()"
                  /></mat-button-toggle>
                </div>
              </div>
            </mat-button-toggle-group>
          </div>
        </mat-tab>
        <mat-tab label="❔ Help">
          <h1>❔ Help</h1>
          <a href="mailto:dylanhurtado43@gmail.com" target="_blank">
            <div fxFlex="100" fxLayoutAlign="center center">
              <button mat-flat-button fxFlex="100" class="contact-here">
                Contact here
              </button>
            </div>
          </a>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
