.register-wrapper {
    height: 100%;
    background: linear-gradient(to right ,#fabb5dbc,#4c126bc2,#3c0425); 
    background-size: cover;
  }
  .box {
    position: relative;
    top: 0;
    opacity: 0.90;
    padding: 60px 50px 40px 50px;
    width: 100%;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 25em;
    background-color: #f5d7fc7d;
  }
  p{
    font-family: 'Lastica';
    font-size: 48px;
    margin: 0.5em 0.2em;
    text-align: center  ;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  .register-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
  .register-wrapper mat-card-header mat-card-title {
    font-size: 3vw;
    color:rgb(118, 200, 86);
    margin: 0;
    text-shadow: 1px 2px 2px #194248;
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-card-header{
      margin-bottom: 2em;
      
  }
  .login-link{
    color: white;
    text-shadow: 0.5px 1px 1px #2b2b2a;
    font-size: 1em;
    background:linear-gradient(to bottom,#f18f70,#e6cd66);
  }
  .button-register{
    background: linear-gradient(to bottom,#f18f70,#e6cd66);
  }
  
  img{
    max-width: 100px; max-height: 100px; height: 100px; width: 100px;
  }