div{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    min-height: 100%;
    line-height:0;
}
.img-welcome{
    height: 90px;
    min-width: 200%;
    display:inline-block;
    scale: 0.35;
    object-fit: none;
    overflow: hidden;
}

.img-plane{
    max-width:70%;
    scale: .60;  
    display:inline-block;
}