div{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    min-height: 100%;
    line-height:0;
}

p{
    padding: 5vh 5vw;
    background: #32323292;
    text-shadow: 2px 4px 4px black;
    color: #f4f4f4;
    border-radius: 10px;
    font-size: 1.5vw;
    margin: 0;
    font-family: 'Lastica', cursive;
    font-weight: bold;
    line-height: 2vh;
    margin: 100px 0;
}