.message-card{
    border-radius: 10px;
    overflow-wrap: anywhere;
    margin: 0.5em ;
    margin-bottom: 0.1em;
    margin-top: 0.2em;
    padding:0;
}
.message{
    padding: 1em 1em;
}

.message-time{
    font-size: 12px;
    margin: 8px;
    padding:  0 0 0.2em 0.2em;
    color: #888888;
}

  
.my-message{
    background-color: #e0a963;
}
     
.your-message{
    background-color: aqua;
}