.message-card{
    border-radius: 10px;
    overflow-wrap: anywhere;
    margin: 0.5em ;
    margin-bottom: 0.1em;
    margin-top: 0.2em;
    padding:0;
}
.message{
    padding: 1em 1em;
}

.message-time{
    font-size: 12px;
    margin: 8px;
    padding:  0 0 0.2em 0.2em;
    color: #443e3e;
}

  
.my-message {
    box-sizing: border-box;
    display: flex;
    place-content: flex-end end;
    align-items: flex-end;
} 

.my-message mat-card{
    background: linear-gradient(to bottom, #f18f70, #e6cd66);
    box-shadow: 1px 2px 2px #888888;
} 
.your-message mat-card {
    background: linear-gradient(to bottom, #f7c5f7, #98a8e6);
    box-shadow: 1px 2px 2px #888888;
}