<app-chat-date
  *ngIf="!equalDate"
  fxLayoutAlign="center center"
  [date]="date"
></app-chat-date>
<div
  class="message-box"
  fxLayout="row"
  [ngClass]="{
    'my-message': userId == author,
    'your-message': userId != author
  }"
>
  <mat-card *ngIf="type=='text'" class="message-card" fxLayout="row wrap">
    <span class="message">{{ text }}</span>
    <span class="message-time" fxLayoutAlign="end end">{{ time }}</span>
  </mat-card>

  <mat-card *ngIf="type=='audio'" class="message-card" fxLayout="row wrap">
    <audio class="audio-messages" controls src="">
    </audio>
    <span class="message-time" fxLayoutAlign="end end">{{ time }}</span>
  </mat-card>
</div>


