 
<p> Add Contact</p>
<div class="add-dialog-container" fxLayoutAlign="center center">
  <form
    class="example-form"
    [formGroup]="entityForm"
    fxFlex="100"
    fxLayout="column"
  >
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        matInput
        placeholder="Enter the email"
        fxFlex="100"
        formControlName="addInput"
      />
    </mat-form-field>
    <span *ngIf="error" class="span">{{errorMsg}}</span>
    <span *ngIf="success" class="success">{{errorMsg}}</span>
    <button mat-raised-button (click)="addContact()" color="primary">
      <mat-icon>group_add</mat-icon>
    </button>
  </form>
</div>