.add-dialog-container{
    width: 40vw;
    
}
button{
  background: linear-gradient(to bottom, #f18f70, #e6cd66);
}
button:hover{
  background: linear-gradient(to bottom, #e6cd66,#f18f70);
}
.span{
    color: rgb(245, 55, 55);
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin-bottom: 1.5em;
    
  }
  .success{
    color: rgb(110, 187, 100);
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin-bottom: 1.5em;
    
  }
  p{
    margin: 0 0 0.5em;
    text-align: center;
    font-family: 'Lastica';
    font-size: 2em;
    overflow-wrap: anywhere;
  }