<div
  fxLayout="column"
  fxFlexFill
  [ngClass]="{ 'my-light-theme': !themeDark, 'my-dark-theme': themeDark }"
>
  <div class="home-wrapper" fxLayout="row">
    <app-contact-list
    (selectContact)="selectContact($event)"
      fxFlex="30"
      [ngClass]="{ 'my-light-theme': !themeDark, 'my-dark-theme': themeDark }"
      class="contact-list"
    ></app-contact-list>
    <app-chat-box *ngIf="contactSeleted" fxFlex="70" [contact]="contact" class="chat-box"></app-chat-box>
    <app-not-selected *ngIf="!contactSeleted" fxFlex="70" class="not-selected"></app-not-selected>
  </div>
</div>
