@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$purple-palette);
$light-accent: mat.define-palette(mat.$amber-palette);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
 )
));

// Define a dark theme
$dark-primary: mat.define-palette(mat.$purple-palette);
$dark-accent: mat.define-palette(mat.$amber-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));

// Apply the dark theme by default


//@include mat.all-component-themes($dark-theme);
@include mat.all-component-themes($light-theme);


// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.my-dark-theme {
  @include mat.all-component-themes($dark-theme);
}
.my-light-theme {
  @include mat.all-component-themes($light-theme);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-menu-content{
  opacity: 0.9;
  background: linear-gradient(to right,#3c04255d ,#4c126b45,#fabb5d4f);
}

@font-face {
  font-family: 'Lastica';
  src: url(../assets/fonts/FontsFree-Net-Lastica.ttf) format("truetype");
}

@import '~@ctrl/ngx-emoji-mart/picker';