<div
  class="chat-box"
  [ngClass]="{ 'my-light-theme': !themeDark, 'my-dark-theme': themeDark }"
>
  <div class="header" fxLayout="row">
    <div class="img-wrapper" (click)="openImageDialog()">
      <img [src]="avatar" alt="avatar" />
    </div>
    <div fxLayout="column">
      <span class="name">{{ contact.name }}</span>
      <span class="status">{{ isWritting ?'📝 Writing ...'  : contact.status }}</span>
    </div>
  </div>
  <div class="content-chat" [style]="getColor()">
    <div class="messages-content" [style]="getBg()">
      <app-chat-message *ngFor="let message of chatMessagesList"
        [text]="message.text"
        [time]="message.time"
      ></app-chat-message>
    </div>
  </div>

  <div class="parent-input">
    <emoji-mart
      *ngIf="isEmojiPickerVisible"
      class="emoji-mart"
      (emojiSelect)="addEmoji($event)"
      title="Choose it!"
      emoji="point_up"
      color="#e0a963"
    ></emoji-mart>
    <div class="input-box">
      <button
        class="emoji-button"
        mat-icon-button
        (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
        fxLayoutAlign="center center"
      >
        😀
      </button>
      <form fxFlex="100" fxLayout="row" [formGroup]="entityForm">
        <input
          matInput
          class="input"
          placeholder="Type a message"
          type="text"
          name="textarea"
          [(ngModel)]="textArea"
          formControlName="input"
          (focus)="onFocus()"
          (blur)="onNotFocus()"
        />

        <button mat-icon-button class="send-button" (click)="sendMessage()">
          <mat-icon class="send-icon">send</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>
