<div class="chat-box" [ngClass]="{ 'my-light-theme':!themeDark, 'my-dark-theme':themeDark}">
  <div class="header" fxLayout="row">
    <div class="img-wrapper">
      <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
    </div>
      <div fxLayout="column">
        <span class="name">Shiba Inu</span>
        <span class="status">📝 Writing ...</span>
      </div>
  </div>
  <div class="content-chat">
    <div class="messages-content" style="background-image: url(../../../assets/img/background1.png);">
      <app-chat-message></app-chat-message>
    </div>
  </div>

  <div class="parent-input">
    <emoji-mart *ngIf="isEmojiPickerVisible" class="emoji-mart"  (emojiSelect)="addEmoji($event)" title="Choose it!" emoji="point_up"  ></emoji-mart>
    <div class="input-box">
      <button class="emoji-button" mat-icon-button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;" fxLayoutAlign="center center">😀</button>
      <input matInput class="input" placeholder="Type a message" type="text" name="textarea" [(ngModel)]="textArea"/>
      <button mat-icon-button class="send-button"><mat-icon class="send-icon">send</mat-icon></button>
    </div>
  </div>
</div>
