img {
    border-radius: 50%;
    background-size: cover;
    height: 2.2em;
    width: 2.2em;
    border:4px solid #f7f7f7; 
}

.img-wrapper{
    padding-right: 10px;
}
.chat-box{
    box-sizing:content-box;
    display:block;
    float:none;
    line-height:16px;
    position:static;
    z-index:auto;
    height: 100%;
}

.header{
    box-sizing:border-box;
    padding-right: 17px;
    padding-left: 10px;
    border-left: 2px solid black;
    display:flex;
    float:none;
    line-height:20px;
    padding: 5.7px 16px;
    position:relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    
}
.emoji-button{
    font-size: 1.5em;
    padding: 1.25em 1em;
    text-shadow: 1px 2px 2px rgb(125, 125, 125);
    
}
.send-button{
    font-size: 1.5em;
    padding: 1.25em 1.25em;
    place-content: center;
    align-items: center;
    display: flex;

}
.audio-button{
    background: linear-gradient(to bottom, #f18f70, #e6cd66);

}

.icon{

    height: 40;
    width: 24;
    text-align: center;
    color: #e0a963;
    font-weight: bold;
    text-shadow:0.5px 1px 1px rgb(125, 125, 125);
}

.messages-content{
    height: 75vh;
    padding-right: 17px;
    padding-left: 10px;
    border-left: 2px solid black;
    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: #e0a963 #4242422a
}
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background:  #4242422a;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #e0a963;
    border-radius: 20px;
  }

.emoji-mart{
    position: fixed;
    bottom: 8em;
    left:31%;
}
.name{
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0a963;
    text-shadow: 0.5px 1px 1px rgb(125, 125, 125);

    
}
.status{
    font-size: 0.8em;
    color: #919191;
}
.my-dark-theme .parent-input .input-box{
    background: linear-gradient(to bottom, #1f1f1f, #2e0650);
    padding-right: 17px;
    padding-left: 10px;
    border-left: 2px solid whitesmoke;
    display: flex;
}
.my-dark-theme .parent-input .input-box input{
    color: whitesmoke;
    background-color: #424242;
}
.my-dark-theme .content-chat .messages-content{
    border-left: 2px solid whitesmoke;
}
.my-dark-theme .header{
    border-left: 2px solid whitesmoke;
}

.my-light-theme .parent-input .input-box{
    background:linear-gradient(to bottom, white,#cccccc);
    padding-right: 17px;
    padding-left: 10px;
    border-left: 2px solid #2b2d42;
    display: flex;
}
.my-light-theme .content-chat .messages-content{
    border-left: 2px solid #2b2d42;
}
.my-light-theme .header{
    border-left: 2px solid #2b2d42;
    background:linear-gradient(to bottom, white,#cccccc);
}
.my-dark-theme .header{
    border-left: 2px solid whitesmoke;
    background: linear-gradient(to bottom,  #1f1f1f,#350a5b);
}

.input-box{
    padding-right: 17px;
    padding-left: 10px;
    border-left: 2px solid black;
    display: flex;

}
.input{
        padding: 9px 12px 11px;
        margin: 5px 10px;
        position:relative;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: #c8c8c8;
}


