.date-card{
    border-radius: 10px;
    overflow-wrap: anywhere;
    margin: 0.5em ;
    margin-bottom: 0.1em;
    margin-top: 0.2em;
    padding:0;
    
}
.date{
    padding: 0.5em;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
}
