
img{
    margin-bottom: 50em;
    align-self: flex-start;
    margin: 0 1vw ;
    margin-top: 0.75em;
}
p{
    text-align: center;
    margin: 3vh 5;
}
.contact{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}