
img{
    margin-bottom: 50em;
    align-self: flex-start;
    margin: 0 1vw ;
    margin-top: 0.75em;
}
p{
    text-align: center;
    margin: 3vh 5;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.my-light-theme{
    background-color: #f7f7f7;
}

.my-dark-theme{
    background: linear-gradient(to bottom, #1f1f1f, #2e0650);
}

.my-dark-theme .search-autocomplete{
   background: linear-gradient(to bottom, #1f1f1f, #2e0650);
    margin:0
}
.button-add{
    background: linear-gradient(to bottom, #f18f70, #e6cd66);
    margin: 0 20px;
    margin-bottom:20px;
    color:white;
    text-shadow: 1px 2px 2px black;
    box-shadow: 1px 2px 2px #888888;
}
.button-add:hover{
    background: linear-gradient(to bottom, #e6cd66,#f18f70);
}

.my-dark-theme mat-selection-list .contact-option{
    background: linear-gradient(to right, #310855, #420b71);
}
.my-dark-theme mat-selection-list .contact-option:hover{
    background: linear-gradient(to right,  #b27866, #b6a45e);
    
}
.my-dark-theme mat-selection-list .contact-option:focus{
    background: linear-gradient(to left, #c5694d, #bea644);
    
}
.contact-option:hover{
    background: linear-gradient(to right,  #f0af9b, #e4d390);
}
.contact-option:focus{
    background: linear-gradient(to left, #f18f70, #e6cd66);
}
.n-messages{
    font-family: 'Lastica';
    font-size: 0.8em;
    background: linear-gradient(to bottom, #f7c5f7, #98a8e6);
    padding: 0.4em 0.6em;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #888888;
    display: none;
}
.hide-nmessage{
    display: none;
}
.show-nmessage{
    display: inline;
}
#audio{
    display: none;
}