<div
  class="contact-list-container"
  [ngClass]="{ 'my-light-theme': !themeDark, 'my-dark-theme': themeDark }"
>
  <form class="example-form">
    <mat-form-field class="search-autocomplete" appearance="fill" fxFlex="100">
      <mat-label> 🔍 Search...</mat-label>
      <input
        type="text"
        placeholder=""
        aria-label="Number"
        matInput
        [formControl]="myControl"
      />
    </mat-form-field>
  </form>
  <mat-selection-list #contact [multiple]="false" fxLayout="column">
    <mat-list-option
      *ngFor="let contact of filteredOptions | async"
      [value]="contact"
      fxFlex="100"
    >
      <div fxFlex="100" fxLayout="row" class="contact">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/OOjs_UI_icon_userAvatarOutline-progressive.svg/1024px-OOjs_UI_icon_userAvatarOutline-progressive.svg.png"
          height="40em"
          width="40em"
          fxLayoutAlign="center center"
        />

        <p fxFlex="100" fxLayoutAlign="center center">{{ contact }}</p>
        <p fxLayoutAlign="center center">🟢 Online</p>
        <p fxLayoutAlign="center center">🔴 Offline</p>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>
