
img{
    margin-bottom: 50em;
    align-self: flex-start;
    margin: 0 1vw ;
    margin-top: 0.75em;
}
p{
    text-align: center;
    margin: 3vh 5;
}
.contact{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.my-light-theme{
    background-color: #f7f7f7;
}

.my-dark-theme{
    background-color: #282438;
}

.my-dark-theme .search-autocomplete{
    background-color: #242638;
    margin:0
}
.button-add{
    background: linear-gradient(to right ,#fabb5dbc,#4c126bc2,#3c0425); 
    margin: 0 20px;
    margin-bottom:20px;
    color:white;
}