<div
  class="contact-list-container"
  [ngClass]="{ 'my-light-theme': !themeDark, 'my-dark-theme': themeDark }"
>
  <div fxLayout="column">
    <form class="example-form">
      <mat-form-field
        class="search-autocomplete"
        appearance="fill"
        fxFlex="100"
      >
        <mat-label> 🔍 Search...</mat-label>
        <input
          type="text"
          placeholder=""
          aria-label="Number"
          matInput
          [formControl]="myControl"
        />
      </mat-form-field>
    </form>
    <button mat-flat-button class="button-add" (click)="openAddDialog()">
      <mat-icon>group_add</mat-icon>
    </button>
  </div>

  <mat-selection-list #contact [multiple]="false" fxLayout="column">
    <mat-list-option
      *ngFor="let contact of filteredOptions | async"
      [value]="contact"
      fxFlex="100"
      class="contact-option"
      (click)="sendName()"
    >
      <div fxFlex="100" fxLayout="row" class="contact">
        <p fxLayoutAlign="start center">🔴</p>
        <p fxFlex="100" fxLayoutAlign="center center">{{ contact }}</p>
        <p><span class="n-messages">2</span></p>
        
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>
