.spacer{
    flex: 1 1 auto;
}
.me img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    border: 6px solid #d6d6d113;
}
.me:hover img{
    border: 6px solid #4c126bc2;
}
mat-toolbar{
    background: linear-gradient(to right ,#fabb5dbc,#4c126bc2,#3c0425); 
    padding-left: 0;
}
.div-tools{
    align-content: space-between;
}
.app-main{
    box-sizing:content-box;
    margin: 0 auto;
    line-height:16px;
    min-width: 100%;
    min-height: 100%;
    background: url("../../../assets/img/login.gif");
    background-size: contain;
}
.icon-menu{
    color: aliceblue;
}
.logo{
    height: 52px;
    width: 52px;

}

.logo:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    overflow:hidden;
}
.logo:active{
    -webkit-transform:scale(1);transform:scale(1);
    overflow:hidden;
}

