.spacer{
    flex: 1 1 auto;
}
.me img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}
mat-toolbar{
    background-color: #dd4d4d;
    border-bottom: 1px solid black;
}
.div-tools{
    align-content: space-between;
}
.app-main{
    box-sizing:content-box;
    margin: 0 auto;
    line-height:16px;
    min-width: 100%;
    min-height: 100%;
    background-color: #5f5e5e;
}
