<div fxFlexFill fxLayout="column">
  <div fxLayoutAlign="start center" fxLayout="column" fxFlex="45">
    <p class="video-description">remote:</p>
    <video #received_video [autoplay]="true" width="90%"></video>
    <mat-icon color="warn" *ngIf="!localVideoActive" class="nocam">
      videocam_off
    </mat-icon>
  </div>
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex="45">
    <p class="video-description">local:</p>
    <video
      #local_video
      [style]="localVideoActive ? 'display:inline;' : 'display:none;'"
      [autoplay]="true"
      [muted]="true"
      width="90%"
    ></video>
    <mat-icon color="warn" *ngIf="!localVideoActive" class="nocam">
      videocam_off
    </mat-icon>
  </div>
  <div
    fxLayout="row"
    class="option-buttons"
    fxLayoutAlign="space-evenly end"
    fxFlex="10"
  >
    <button
      mat-fab
      color="primary"
      class="button"
      (click)="onLocalVideoButton()"
    >
      <mat-icon>{{ localVideoActive ? "videocam" : "videocam_off" }}</mat-icon>
    </button>
    <button mat-fab color="warn" class="button" (click)="closeVideoCall()">
      <mat-icon>phone_missed</mat-icon>
    </button>
  </div>
</div>
